/* loading overlay */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  background: lightsalmon;
  color: #1a1a1a;
  z-index: 2;
  font-size: 3rem;
}
.blur {
  filter: blur(6px);
}

/* menu slider */
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 15vw;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  padding: 3rem;
  transform: translateX(100%);
  background: #1a1a1a;
  box-shadow: -2px 1px 12px 1px rgba(26, 26, 26, 0.3);
  color: snow;
  font-size: 1.5rem;
}

.menu button {
  color: snow;
  text-align: right;
  cursor: pointer;
  padding: 1rem 0;
  line-height: 1.1;
  opacity: 1;
  transition: all 0.3s ease-in;
  font-size: 1.5rem;

  /* remove blue highlighting on mobile */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu button.active {
  opacity: 0.25;
  cursor: default;
}
.menu button::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: 2rem;
  color: coral;
  opacity: 0;
  content: "\f0da"; /* f105 */
  transition: all 1s 0.2s ease;
}
.menu button:hover:before {
  opacity: 0.5;
}
/* menu icon - open and close */
.menu-icon-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 2rem;
  z-index: 1;
}
.menu-icon {
  color: snow;
  font-size: 3rem;
}
.menu-open {
  animation: menuOpen 1s forwards;
}
.menu-close {
  animation: menuClose 1s forwards;
}

/* slide animations */

.slide-in {
  animation: slideIn 1s ease forwards;
}
.slide-out {
  animation: slideOut 1s ease forwards;
}
.start-load {
  animation: startLoad 1s ease forwards;
}
.end-load {
  animation: endLoad 1s ease forwards;
}

/* Keyframes */

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

/* loading snimation */
@keyframes startLoad {
  from {
    transform: translateY(-110%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes endLoad {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-110%);
  }
}

/* menu spinner animation */
@keyframes menuOpen {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes menuClose {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
