/* VECTOR IMAGES */

svg {
  width: 300px;
}
.st0 {
  fill: none;
  stroke: none;
}
.st1 {
  fill: none;
  stroke: snow;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.harbour {
  fill: none;
  stroke: snow;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.harbour-fill {
  fill: rgba(255, 250, 250, 0.1);
  stroke: snow;
  stroke-width: 0.75;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.eiffel,
.liberty,
.temple,
.colosseum,
.opera {
  fill: rgba(255, 250, 250, 0.1);
  stroke: none;
}
.pyramids {
  fill: rgba(255, 250, 250, 0.1);
  stroke: snow;
}
.hide {
  display: none;
}

/* icons */
.fas,
.far {
  cursor: pointer;
}
i {
  color: snow;
  opacity: 0.8;
  transition: opacity 1s;
}
i:hover {
  opacity: 1;
}
